@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root 
{
    --color-texto-900: #000F0E;
    --color-texto-100: #C3C3C3;
    --color-texto-50: #F0F6F5;

    --color-bg-slide-900: #000F0E;
    --color-bg-slide-800: #012220;
    --color-bg-slide-100: #c7d6cd;
    --color-bg-slide-50: #e4e0e0;

    --color-bg-900: #050606;
    --color-bg-800  : #090C0B;
    --color-bg-100  : #cbdbd2;
    --color-bg-50  : #F0F6F5;

    --gradient-bg-slide-light: linear-gradient(135deg, var(--color-bg-slide-50), var(--color-bg-slide-100));
    --gradient-bg-slide-dark: linear-gradient(45deg, var(--color-bg-slide-900), var(--color-bg-slide-800));
    --gradient-bg-light: linear-gradient(45deg, var(--color-bg-100), var(--color-bg-50));
    --gradient-bg-dark: linear-gradient(45deg, var(--color-bg-900), var(--color-bg-800));
}

* 
{
    font-family: "Rubik", sans-serif;
    margin: 0px;
    padding: 0px;

}

#main_container
{
    width: 100vw;
    height: 100vh;
    background: var(--gradient-bg-light);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dark-to-light-bg 0.3s ease-in-out;
}

#outras_opcoes 
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#outras_opcoes img
{
    width: 55px;
}

#outras_opcoes img:hover 
{
    transform: scale(1.2);
}

#left_login 
{
    width: 50vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#left_login h1 
{
    
    color: #0A8CBF;
}

#water_drop 
{
    width: 35vw;
    height: 20vh;
}

#login_right 
{
    width: 50vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_form 
{
    background: var(--gradient-bg-slide-light);
    display: flex;
    flex-direction: column;
    padding: 75px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgb(0, 0, 0, 0.366);
    height: fit-content; /* analizar */
    animation: dark-to-light-bg-slide 0.3s ease-in-out;
}

#header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 
{
    font-weight: bold;
    font-size: 40px;
    color: #0A8CBF;
}

#modo 
{
    cursor: pointer;
    font-size: 20px;
}

#div_input
{
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

#div_input span
{ 
    font-size: 20px;
    color: #000F0E;
}

#div_input input 
{
    border-radius: 5px;
    border-style: hidden;
    width: 350px;
    height: 30px;
    font-size: 18px;
    padding: 0px 5px;
    background-color: #BECFCA;
}

#btn_login 
{
    width: 60%;
    height: 50px;
    color: #c7d6cd;
    background-color: #0A8CBF;
    border-radius: 10px;
    border-style: hidden;
     margin: 0px 70px; 
    font-size: 22px;
    font-weight: bold;
}

#esqueceu_senha 
{
    color: #000A09;
}







.dark#div_input input 
{
    background-color: #012320;
}


.dark#btn_login 
{
    color: var(--color-texto-900);
}

.dark#main_container
{
    background: var(--gradient-bg-dark);
    /* animation: light-to-dark-bg 0.3s ease-in-out; */
}

.dark#login_form 
{
    color: var(--color-texto-50);
    background: var(--gradient-bg-slide-dark);
    /* animation: light-to-dark-bg-slide 0.3s ease-in-out; */
}

.dark#div_input span
{
    color: var(--color-texto-50)
}






@keyframes light-to-dark-bg-slide 
{
    0%
    {
        background: var(--gradient-bg-slide-light);
    }
    100%
    {
        background: var(--gradient-bg-slide-dark);
    }
}

@keyframes dark-to-light-bg-slide 
{
    0%
    {
        background: var(--gradient-bg-slide-dark);
    }
    100% 
    {
        background: var(--gradient-bg-slide-light);
    }
}
